<!--banner start-->
<div class="banner row" id="banner">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
    <!--slider start-->
    <div id="ri-grid" class="ri-grid-loading ri-grid ri-grid-size-2">
      <img class="ri-loading-image" src="assets/images/loading.gif" alt="Loading..." />
      <ul id="js_cb_slideshow" class="cb-slideshow">
        <li *ngFor="#imageId of imageIds">
          <a href="#"><img src="//instagram.com/p/{{imageId}}/media/?size=m" alt="© Louw Swart"></a>
        </li>
      </ul>
    </div>
    <!--slider end-->
  </div>
</div>
<!--banner end-->
<div class="banner-text container">
  <h1>Louw Swart</h1>
  <h2>ex-flight attendant turned programmer</h2>
</div>
<!--menu start-->
<div class="menu">
  <div class="navbar-wrapper">
    <div class="container">
      <div class="nav-wrapper">
        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div id="mss" class="navbar-header">
              <button id="js_menu_button" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Menu</a>
            </div>
            <div id="js_navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="menu-item active"><a href="#home" class="js_track_link_click">Home</a></li>
                <li class="menu-item"><a href="#aboutme" class="js_track_link_click">About</a></li>
                <li class="menu-item"><a href="#skills" class="js_track_link_click">Skills</a></li>
                <li class="menu-item"><a href="#experience" class="js_track_link_click">Experience</a></li>
                <li class="menu-item"><a href="#education" class="js_track_link_click">Education</a></li>
                <li class="menu-item"><a href="#contact" class="js_track_link_click">Contact</a></li>
                <li class="menu-item" id="js_links_li"><a href="#links" class="js_track_link_click">Links</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->
    </div>
  </div>
</div>
<!--menu end-->
