<!--education start-->
<section class="education" id="education">
  <div class="container">
    <div class="heading">
      <h2>Education</h2>
      <p>what I've studied</p>
    </div>
    <div *ngIf="codeSchool && codeSchool.courses"
         class="row education-details">
      <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
        <div class="education-year">Continuous<br>improvement</div>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 right-area">
        <div class="arrow-part"></div>
        <div class="education-container">
          <h4>Code School
            <a href="https://www.codeschool.com/users/ouq77" target="_blank" rel="noopener noreferrer" class="link js_track_link_click">
              &nbsp;<i class="icon-link-ext"></i>
            </a>
          </h4>
          <h5>Learn by doing</h5>
          <h5 class="sub-heading"><i>Interactive programming courses and coding challenges</i></h5>
          <section class="content">
            <p>
              Member since: <strong>{{codeSchool.user.member_since | memberDate}}</strong><br>
              Total score: <strong>{{codeSchool.user.total_score | score}}</strong>
            </p>
          </section>
          <h6>Courses completed</h6>
          <section class="content">
            <div class="row">
              <div class="cs-badge col-md-2" *ngFor="let course of codeSchool.courses.completed">
                <p>
                  <a href="{{course.badge | badgeUrl}}"
                     title="{{course.title}}"
                     target="_blank"
                     rel="noopener noreferrer"
                     class="js_track_link_click">
                    <img src="{{course.badge}}"
                         alt="{{course.title}}"
                         width="95px"
                         srcset="{{course.badge2x}} 2x">
                  </a>
                </p>
              </div>
            </div>
          </section>
          <h6 *ngIf="codeSchool.courses.in_progress">Courses in progress</h6>
          <section *ngIf="codeSchool.courses.in_progress"
                   class="content">
            <div class="row">
              <div class="cs-badge col-md-2" *ngFor="let course of codeSchool.courses.in_progress">
                <p><a href="{{course.url}}" title="{{course.title}}" target="_blank" rel="noopener noreferrer" class="js_track_link_click"><img src="{{course.badge}}" alt="{{course.title}}" width="95px"></a></p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div *ngFor="let school of schools"
         class="row education-details">
      <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
        <div class="education-year">{{school.year.from}} <i class="icon-angle-circled-right"></i><br>{{school.year.to}}</div>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 right-area">
        <div class="arrow-part"></div>
        <div class="education-container">
          <h4>{{school.institution.name}}
            <a href="{{school.institution.url}}" target="_blank" rel="noopener noreferrer" class="link js_track_link_click">
              &nbsp;<i class="icon-link-ext"></i>
            </a>
          </h4>
          <h5>{{school.qualification}}</h5>
          <h5 class="sub-heading"><i>{{school.institution.location}}</i></h5>
          <section [innerHTML]="school.content" class="content"></section>
        </div>
      </div>
    </div>
  </div>
</section>
<!--education end-->
