@import '../../assets/css/common.scss';

/*
 * Education
 * ========================================================================== */

.education {
  background: $whisper;
  @include container-heading();

  h2 {
    color: $bitter-sweet;
  }
  p {
    color: $manatee;
    line-height: 18px;
  }
  .heading p {
    padding-bottom: 41px;
  }
  h4 {
    font-weight: 700;
  }

  .education-container {
    width: auto;
    background: $snow;
    border-bottom: solid 4px $whisper-dark;
    padding: 22px 47px 6px 47px;
    margin-left: 15px;
    text-align: left;
    h4 {
      color: $blue-zodiac;
      padding-bottom: 3px;
    }
    h5, h6 {
      color: $blue-zodiac;
    }
    .content {
      color: $manatee;
      line-height: 21px;

      .row {
        padding-top: 20px;
        .cs-badge {
          p {
            text-align: center;
          }
        }
      }
    }

    @media screen and (max-width: $screen-sm-min) {
      margin-left: 0px;
    }
  }

  .education-details {
    .right-area {
      border-left: solid 1px $whisper-dark;
      padding-bottom: 47px;

      @media screen and (max-width: $screen-sm-min) {
        border-left: none;
      }
    }
    &:last-child .right-area {
      padding-bottom: 0px;
    }
  }

  .education-year {
    font-size: 17px;
    color: $white;
    background: $bitter-sweet;
    text-align: center;
    width: 120px;
    height: 120px;
    padding: 40px 0 40px 0;
    @include border-radius(50%);

    @media screen and (min-width: $screen-lg-min) {
      width: 140px;
      height: 140px;
      padding-top: 50px;
    }

    @media screen and (max-width: $screen-sm-min) {
      margin: 0 auto;
    }
  }

  .arrow-part {
    float: left;
    width: 15px;
    height: 50px;
    background: url(assets/images/arrow-left-light.png) no-repeat 0 23px;

    @media screen and (max-width: $screen-sm-min) {
      float: none;
      width: 100%;
      height: 40px;
      background: url(assets/images/arrow-top-light.png) no-repeat 50% 100%;
    }
  }
}
