/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*
 * Colors
 * ========================================================================== */
/*
 * Typography
 * ========================================================================== */
/*
 * Media queries breakpoints
 * ========================================================================== */
/*
 * Container & Heading mixin
 * ========================================================================== */
/*
 * Base styles
 * ========================================================================== */
/*
 * CSS Reset
 * ========================================================================== */
* {
  padding: 0;
  margin: 0; }

body {
  color: #ffffff;
  background: #000000;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden; }
  @media screen and (max-width: 992px) {
    body {
      min-height: 700px; } }

html {
  height: 100%;
  margin: 0;
  padding: 0; }

a {
  color: #15596e;
  text-decoration: none;
  outline: none; }

p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  padding-bottom: 22px;
  margin: 0px; }

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 80px;
  line-height: 90px;
  font-weight: 600;
  margin: 0px;
  padding-bottom: 8px; }

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  line-height: 38px;
  padding-bottom: 0px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0px; }

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 6px;
  font-weight: 400;
  margin: 0px; }

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  line-height: 24px;
  padding-bottom: 6px;
  font-weight: 600;
  margin: 0px; }
  h4.sub-heading {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 22px; }

h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 6px;
  font-weight: 400;
  margin: 0px; }
  h5.sub-heading {
    font-weight: 500;
    font-size: 12px;
    padding-bottom: 20px;
    line-height: 18px;
    margin-top: -4px; }

h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  line-height: 20px;
  font-size: 15px;
  margin: 0px;
  padding-bottom: 6px; }

.ng-loading {
  overflow: hidden;
  margin: 0 auto !important;
  background: #262B37;
  height: 100%; }

.ng-loading-image {
  position: relative;
  width: 40px;
  height: 40px;
  left: 50%;
  margin: 50px 0 50px -15px;
  display: block; }
