<!--technical start-->
<section class="skills" id="skills">
  <div class="container">
    <div class="heading">
      <h2>Technical Skills</h2>
      <p>my level of confidence</p>
    </div>
    <div class="row">
      <div *ngFor="#skill of skills, #i=index" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 skills-area">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">
          <span class="chart skill-background" [attr.data-percent]="skill.level">
            <span class="percent"></span>
          </span>
          <h4 class="js_trigger_skills">{{skill.name}}</h4>
          <p>{{skill.content}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--technical end-->
