<!--footer start-->
<section class="footer" id="links">
  <div class="container">
    <div class="heading">
      <h2>Links</h2>
      <p>social links and page info</p>
    </div>
    <ul>
      <li *ngFor="#link of links">
        <a href="{{link.url}}" target="_blank" title="{{link.title}}" class="js_track_link_click">
          <i class="fa fa-{{link.icon}} fa-2x"></i>
        </a>
      </li>
    </ul>
    <div class="footer-info">
      <p><i class="fa fa-copyright"></i>&nbsp;{{currentDate | date:"yyyy"}} &ndash; HTML Template by <i><a href="http://themeforest.net/user/themeelite" target="_blank" class="js_track_link_click">themeelite</a></i></p>
      <p>Hosted on the <i><a href="http://heroku.com" target="_blank" class="js_track_link_click">heroku.com</a></i> cloud platform</p>
      <p>Angular 2, TypeScript, SCSS, (jQuery, Underscore)</p>
      <p>Node.js server code <a href="https://github.com/feross/standard" target="_blank"><img class="js-standard-style" src="https://cdn.rawgit.com/feross/standard/master/badge.svg" alt="JS Standard style"></a> compliant</p>
      <p><i class="fa fa-git"></i>&nbsp;Deployed from <a href="https://github.com/ouq77/portfolio-web/tree/portfolio-web-ng2-heroku" target="_blank" class="js_track_link_click">this repo</a></p>
      <p><i class="fa fa-file-code-o"></i>&nbsp;Docs <a href="/docs/index.html" target="_blank" class="js_track_link_click">hosted here</a></p>
    </div>
  </div>
  <div *ngIf="lastModified"
       class="last-modified">
    <p><sup>Last updated: <time>{{lastModified.last_modified}}</time></sup></p>
  </div>
</section>
<!--footer end-->
