@import 'common';

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?4253260');
  src: url('../fonts/fontello.eot?4253260#iefix') format('embedded-opentype'),
  url('../fonts/fontello.woff2?4253260') format('woff2'),
  url('../fonts/fontello.woff?4253260') format('woff'),
  url('../fonts/fontello.ttf?4253260') format('truetype'),
  url('../fonts/fontello.svg?4253260#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
}

.icon-phone:before {
  content: '\e800';
}

.icon-camera-alt:before {
  content: '\e801';
}

.icon-road:before {
  content: '\e802';
}

.icon-flight:before {
  content: '\e803';
}

.icon-globe:before {
  content: '\e804';
}

.icon-plus:before {
  content: '\e805';
}

.icon-location:before {
  content: '\e806';
}

.icon-link:before {
  content: '\e807';
}

.icon-link-ext:before {
  content: '\f08e';
}

.icon-facebook:before {
  content: '\f09a';
}

.icon-github-circled:before {
  content: '\f09b';
}

.icon-gplus:before {
  content: '\f0d5';
}

.icon-linkedin:before {
  content: '\f0e1';
}

.icon-code:before {
  content: '\f121';
}

.icon-angle-circled-right:before {
  content: '\f138';
}

.icon-instagram:before {
  content: '\f16d';
}

.icon-android:before {
  content: '\f17b';
}

.icon-file-code:before {
  content: '\f1c9';
}

.icon-git:before {
  content: '\f1d3';
}

.icon-copyright:before {
  content: '\f1f9';
}

.icon-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
  margin-left: -.1em;
}

.icon-2x {
  font-size: 1.8em;
  margin-left: .2em;

  @include respond-to($val: max-width, $query: $screen-x3-min) {
    font-size: 1.6em;
  }
}
