@import 'boodstrap.custom';
@import 'common';
@import 'google.fonts';
@import 'fontello';
//
// Base styles
// ========================================================================== //

//
// CSS Reset
// ========================================================================== //

* {
  padding: 0;
  margin: 0;
}

body {
  color: $white;
  background: $black;
  font-family: $font-family-base;
  font-weight: 300;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;

  @include respond-to($query: $screen-m1-min) {
    min-height: 700px;
  }
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: $orient;
  text-decoration: none;
  outline: none;
  cursor: pointer;

  &:hover{
    color: $nordic;
    @include transition(all .2s ease-in);
  }
}

p {
  font-family: $font-family-base;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  padding-bottom: 22px;
  margin: 0;
}

h1 {
  font-family: $font-family-base;
  font-size: 80px;
  line-height: 90px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 8px;
}

h2 {
  font-family: $font-family-base;
  font-size: 36px;
  line-height: 38px;
  padding-bottom: 0;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  font-family: $font-family-base;
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 6px;
  font-weight: 400;
  margin: 0;
}

h4 {
  font-family: $font-family-base;
  font-size: 19px;
  line-height: 24px;
  padding-bottom: 6px;
  font-weight: 600;
  margin: 0;
  &.sub-heading {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 22px;
  }
}

h5 {
  font-family: $font-family-base;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 6px;
  font-weight: 400;
  margin: 0;
  &.sub-heading {
    font-weight: 500;
    font-size: 12px;
    padding-bottom: 20px;
    line-height: 18px;
    margin-top: -4px;
  }
}

h6 {
  font-family: $font-family-base;
  font-weight: 500;
  line-height: 20px;
  font-size: 15px;
  margin: 0;
  padding-bottom: 6px;
}

.ng-loading {
  overflow: hidden;
  margin: 0 auto !important;
  background: $midnight-express;
  height: 100%;
}

.ng-loading-image {
  position: relative;
  width: 40px;
  height: 40px;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  display: block;
}

.browsehappy {
  background: $midnight-express;
  text-align: center;
  padding: 20px;

  a {
    color: $iris-blue;
    &:hover {
      text-decoration: underline;
    }
  }
}

.map-info-window {
  h3 {
    color: $bitter-sweet;
    font-size: 18px;
    padding: 0;
  }

  p {
    color: $manatee;
    font-size: 13px;
    padding: 0;
  }
}
