<!DOCTYPE html>
<html class="no-js" lang="en" itemscope itemtype="http://data-vocabulary.org/Person">
  <head>
    <meta charset="UTF-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title><%= META_TAGS.title %></title><% for (key in META_TAGS.site) { %>
    <meta name="<%- key %>" content="<%- META_TAGS.site[key] %>"><% } %>

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="/manifest.json">

    <meta name="viewport" content="initial-scale=1.0, user-scalable=0, width=device-width, height=device-height">

    <meta name="apple-mobile-web-app-title" content="<%= META_TAGS.title %>">
    <meta content="yes" name="apple-mobile-web-app-capable"><% for (key in APPLE_ICON_SIZES) { %>
    <link rel="apple-touch-icon" sizes="<%- APPLE_ICON_SIZES[key] %>" href="assets/images/touchicons/apple-touch-icon-<%- APPLE_ICON_SIZES[key] %>.png"><% } %>

    <!-- Google Authorship and Publisher Markup --><% for(key in META_TAGS.link_tags) { %>
    <link rel="<%- key %>" href="<%- META_TAGS.link_tags[key] %>"><% } %>
    <!-- Schema.org markup for Google+ --><% for(key in META_TAGS.google) { %>
    <meta itemprop="<%- key %>" content="<%- META_TAGS.google[key] %>"><% } %>
    <!-- Twitter Card data --><% for(key in META_TAGS.twitter) { %>
    <meta name="<%- key %>" content="<%- META_TAGS.twitter[key] %>"><% } %>
    <!-- Open Graph data --><% for(key in META_TAGS.facebook) { %>
    <meta property="<%- key %>" content="<%- META_TAGS.facebook[key] %>"><% } %>

    <!-- Google Analytics -->
    <script>var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%= GOOGLE_ACCOUNT.analytics %>']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s)
    })();</script>

    <!-- Google Font Style -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,800,300' rel='stylesheet' type='text/css'>

    <!-- inject:css -->
    <!-- endinject -->

    <!-- inject:js -->
    <!-- endinject -->

    <!--google maps api-->
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_ACCOUNT.maps_key %>&amp;libraries=geometry"></script>
  </head>
  <body>
    <!--[if lt IE 10]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <container>
      <div class="ng-loading">
        <img class="ng-loading-image" src="assets/images/loading.gif" alt="Loading..."/>
      </div>
    </container>

    <!-- shims:js -->
    <!-- endinject -->

    <script>System.config(<%= JSON.stringify(SYSTEM_CONFIG) %>)</script>

    <!-- libs:js -->
    <!-- endinject -->

    <script>
      System.import('bootstrap')
        .catch(function (e) {
          console.error(e,
            'Report this error at https://github.com/mgechev/angular2-seed/issues');
        });
    </script>
  </body>
</html>
