@import '../../assets/css/common.scss';

/*
 * Google maps
 * ========================================================================== */

.map-area {
  background: url(assets/images/map-bro.png) repeat-x 0 0;
  padding-top: 4px;
  height: 500px;
  overflow: hidden;
  width: 100%;
  margin: 0;

  @media screen and (max-width: $screen-m1-min) {
    height: 250px;
  }

  @media screen and (max-width: $screen-m2-min) {
    height: 200px;
  }

  @media screen and (max-width: $screen-sm-min) {
    height: 160px;
  }

  @media screen and (max-width: $screen-x2-min) {
    height: 200px;
  }
}

#map-canvas {
  width: 100%;
  height: 100%;
}
