<!--about me start-->
<section class="about" id="about">
  <div class="container">
    <div class="heading">
      <h2>About me</h2>
      <p>a small introduction</p>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <h3>Louw Swart</h3>
        <h4 class="sub-heading">Analyst Programmer, Wellington</h4>
        <p>I have been in <b>Software Development</b> since 2008, with more than half that time spent in <b>agile environments</b>, designing, coding, testing and supporting applications across a <b>variety of technologies</b> and <b>platforms</b>.</p>
        <p>While my background is <b>Java</b>, I have been focusing my attention on <b>JavaScript development</b> in the client layer since June 2014, working with frameworks such as Backbone, Marionette, Underscore and AngularJS.</p>
        <p>I have a strong <b>sense of responsibility</b> and am always driven to <b>deliver on or ahead of deadlines</b>. <b>Front-end</b> or <b>back-end</b>, I'm equally comfortable performing either or both.</p>
        <h4 class="sub-heading">Hobbies and Interests</h4>
        <p><i class="fa fa-camera-retro"></i>&nbsp;Photography, <i class="fa fa-android"></i>&nbsp;Android, <i class="fa fa-road"></i>&nbsp;travel and <i class="fa fa-plane"></i>&nbsp;plane spotting - not necessarily in that order.</p>
        <a id="cv_request" href="#contact-form" class="btn-normal js_track_link_click">Request CV &amp; References</a>
      </div>
      <figure class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1 proPic">
        <img src="assets/images/profile.jpg" alt="Louw Swart" class="img-circle top-margin" width="295" height="295" />
      </figure>
    </div>
  </div>
</section>
<!--about me end-->
