<!--experience start-->
<section class="experience" id="experience">
  <div class="container">
    <div class="heading">
      <h2>Work Experience</h2>
      <p>what I've done so far</p>
    </div>
    <div *ngFor="let job of jobs"
         class="row work-details">
      <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
        <div class="work-year">{{job.year.from}} <i class="fa fa-chevron-circle-right"></i><br>{{job.year.to}}</div>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 right-area">
        <div class="arrow-part"></div>
        <div class="experience-container">
          <h4>{{job.institution.name}}
            <a *ngIf="job.institution.url" href="{{job.institution.url}}" target="_blank" class="link js_track_link_click">
              <i class="fa fa-link"></i>
            </a>
          </h4>
          <h5>{{job.title}}</h5>
          <h5 class="sub-heading"><i>{{job.institution.location}}</i></h5>
          <section [innerHtml]="job.content" class="content"></section>
          <h6 *ngIf="job.accomplishments">Accomplishments</h6>
          <section *ngIf="job.accomplishments" [innerHtml]="job.accomplishments" class="content"></section>
          <div *ngIf="job.video" class="vid-container">
            <iframe class="youtube-frame" width="0" height="0" src="//www.youtube.com/embed/{{job.video}}"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--experience end-->
