<!DOCTYPE html>
<html class="no-js" lang="en" itemscope itemtype="https://schema.org/Person">
  <head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title><%= META_TAGS.title %></title><% for (key in META_TAGS.site) { %>
    <meta name="<%- key %>" content="<%- META_TAGS.site[key] %>"><% } %>
    <!-- Preconnect URLs --><% META_TAGS.linkPreconnectTags.forEach(function(preconnect) { %>
    <link rel="preconnect" href="<%- preconnect %>"><% }) %>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=0, width=device-width, height=device-height">
    <meta name="theme-color" content="#0ba5a2">
    <meta name="apple-mobile-web-app-title" content="<%= META_TAGS.title %>">
    <meta content="yes" name="apple-mobile-web-app-capable"><% for (key in APPLE_ICON_SIZES) { %>
    <link rel="apple-touch-icon" sizes="<%- APPLE_ICON_SIZES[key] %>" href="assets/images/touchicons/apple-touch-icon-<%- APPLE_ICON_SIZES[key] %>.png"><% } %>
    <!-- Google Authorship and Publisher Markup --><% for(key in META_TAGS.linkTags) { %>
    <link rel="<%- key %>" href="<%- META_TAGS.linkTags[key] %>"><% } %>
    <!-- Schema.org markup for Google+ --><% for(key in META_TAGS.google) { %>
    <meta itemprop="<%- key %>" content="<%- META_TAGS.google[key] %>"><% } %>
    <!-- Twitter Card data --><% for(key in META_TAGS.twitter) { %>
    <meta name="<%- key %>" content="<%- META_TAGS.twitter[key] %>"><% } %>
    <!-- Open Graph data --><% for(key in META_TAGS.facebook) { %>
    <meta property="<%- key %>" content="<%- META_TAGS.facebook[key] %>"><% } %>
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '<%= GOOGLE_ACCOUNT.analytics %>', 'auto');
      ga('send', 'pageview');
    </script>
    <script>window.prerenderReady = false;</script>
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body>
    <!--google maps api-->
    <script src="//maps.googleapis.com/maps/api/js?key=<%= GOOGLE_ACCOUNT.maps_key %>&amp;libraries=geometry"></script>
    <!--[if lt IE 10]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <container>
      <div class="ng-loading">
        <img class="ng-loading-image" src="assets/images/loading.gif" alt="Loading..."/>
      </div>
    </container>
    <!-- inject:js -->
    <!-- endinject -->
    <script>
      function trackEvent(eventCategory, eventAction) {
        ga('send', 'event', eventCategory, eventAction);
      }
      $(document).ready(function(){
        $('.js_track_link_click').click(function() {
          trackEvent('link_click', $(this).attr('href'));
        });
        $('.btn-submit').click(function(){
          trackEvent('button_click', $(this).attr('value'));
        });
      });
    </script>
  </body>
</html>
