<!--contact start-->
<section class="contact" id="contact">
  <div class="container top-container">
    <div class="heading">
      <h2 class="js_trigger_map_marker">Get In Touch</h2>
      <p>contact me to have a chat</p>
    </div>
  </div>
  <googlemap></googlemap>
</section>
<section class="contact-details" id="contact-form">
  <div class="container">
    <!--contact info start-->
    <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
      <h4 class="js_trigger_map_marker">Contact details</h4>
      <p><i class="fa fa-map-marker fa-lg"></i> <a href="#address" id="js_click_address" class="js_track_link_click"><span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address"><span itemprop="locality">Mount Cook</span>, <span itemprop="region">Wellington</span>, <span itemprop="country-name">New Zealand</span></span></a></p>
      <p><i class="fa fa-mobile fa-lg"></i> +64 22 031 3927</p>
      <p><i class="fa fa-link"></i> <a href="http://flavors.ouq77.kiwi" target="_blank" class="js_track_link_click">Flavors.me</a></p>
      <p><i class="fa fa-link"></i> <a href="https://portfolio.ouq77.kiwi" target="_blank" class="js_track_link_click" itemscope="url">portfolio.ouq77.kiwi</a></p>
    </div>
    <!--contact info end-->
    <contact-form></contact-form>
  </div>
</section>
<!--contact end-->
