@import '../../assets/css/common.scss';

/*
 * Contact form
 * ========================================================================== */

.contact-form {
  h4 {
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 15px;
  }
  input {
    background: $chambray;
    color: $snow;
    padding: 15px 30px;
    border: none;
    margin-right: 3%;
    margin-bottom: 30px;
    outline: none;
    font-style: italic;
    &.no-margin {
      margin-right: 0px;
    }

    @media screen and (min-width: $screen-sm-min) {
      &.col-sm-6, &.col-lg-6 {
        width: 48.5%;
      }
    }

    @media screen and (max-width: $screen-x2-min) {
      margin-bottom: 20px;
    }
  }
  textarea {
    background: $chambray;
    color: $snow;
    padding: 15px 30px;
    border: none;
    margin-bottom: 40px;
    outline: none;
    height: 100px;
    font-style: italic;
  }
  .btn-submit {
    background: $bitter-sweet;
    font-family: $font-family-base;
    color: $white;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    float: right;
    margin: 0px;
    &:hover {
      background: $sunset-orange;
    }
    &:disabled {
      background: $sunset-orange-tint;
    }
  }

  .contact-loader {
    width: 35px;
    height: 35px;
  }

  .success-message {
    h3 {
      font-size: 17px;
    }
    color: $iris-blue;
    font-weight: 500;
  }

  .error-message {
    color: $bitter-sweet;
    padding-bottom: 15px;
    font-weight: 500;
  }
}
