<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">

  <filter>
    <filter-name>hideHeroku</filter-name>
    <filter-class>kiwi.ouq77.portfolio.filter.HideHerokuFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>hideHeroku</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>httpCacheSevenDays</filter-name>
    <filter-class>kiwi.ouq77.portfolio.filter.HttpCacheFilter</filter-class>
    <init-param>
      <param-name>Expires</param-name>
      <param-value>7</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>httpCacheSevenDays</filter-name>
    <url-pattern>*.js</url-pattern>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>httpCacheFourteenDays</filter-name>
    <filter-class>kiwi.ouq77.portfolio.filter.HttpCacheFilter</filter-class>
    <init-param>
      <param-name>Expires</param-name>
      <param-value>14</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>httpCacheFourteenDays</filter-name>
    <url-pattern>*.gif</url-pattern>
    <url-pattern>*.png</url-pattern>
    <url-pattern>*.jpg</url-pattern>
    <url-pattern>*.jpeg</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>httpCacheThreeSixFiveDays</filter-name>
    <filter-class>kiwi.ouq77.portfolio.filter.HttpCacheFilter</filter-class>
    <init-param>
      <param-name>Expires</param-name>
      <param-value>365</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>httpCacheThreeSixFiveDays</filter-name>
    <url-pattern>*.gif</url-pattern>
    <url-pattern>*.png</url-pattern>
    <url-pattern>*.ico</url-pattern>
    <url-pattern>*.jpg</url-pattern>
    <url-pattern>*.jpeg</url-pattern>
  </filter-mapping>

</web-app>
