@import '../../assets/css/common';

//
// Header Part
// ========================================================================== //

header {
  position: relative;

  @include respond-to($query: $screen-m2-min) {
    font-size: 38px;
    span {
      font-size: 16px;
    }
  }
}

.banner {
  overflow: hidden;
  margin: 0 auto !important;
  background: $midnight-express;
  height: 3000px;

  .no-padding {
    padding: 0px !important;
  }
}

.banner-text {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  padding: 30px 0 30px;
  max-width: 615px;
  background: $black-forest-trans-point-8;
  zoom: 1;

  h1 {
    text-transform: uppercase;
    font-size: 78px;
    font-weight: 700;
  }
  h2 {
    font-size: 30px;
    text-transform: none;
  }

  @include respond-to($query: $screen-m1-min) {
    padding-left: 25px;
    padding-right: 25px;
    h1 {
      font-size: 65px;
      line-height: 71px;
    }
    h2 {
      font-size: 25px;
    }
  }

  @include respond-to($query: $screen-x1-min) {
    padding-top: 15px;
    padding-bottom: 15px;
    h1 {
      font-size: 42px;
      line-height: 48px;
    }
    h2 {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

//
// Slide show background control
// ========================================================================== //

.cb-slideshow {
  background: $black-russian;
  li {
    opacity: 0.5;
  }
}

//
// Background slider
// ========================================================================== //

.ri-grid {
  margin: 0px auto;
  position: relative;
  height: auto;
  ul {
    list-style: none;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    &:before {
      content: '';
      display: table;
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    zoom: 1;
    li {
      @include css3-prefix(perspective, 400px);
      margin: 0;
      padding: 0;
      float: left;
      position: relative;
      display: block;
      overflow: hidden;
      background: $black;
      a {
        display: block;
        outline: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $night-rider no-repeat center center;
        @include css3-prefix(backface-visibility, hidden);
        @include transform-style;
        @include background-size;
        @include box-sizing(content-box);
      }
    }
  }
}

//
// Grid wrapper
// ========================================================================== //

.ri-grid-size-1 {
  width: 55%;
}

.ri-grid-size-2 {
  width: 100%;
}

.ri-grid-size-3 {
  width: 100%;
  margin-top: 0px;
}

.ri-grid-loading {
  &:after, &:before {
    display: none;
  }
}

.ri-loading-image {
  display: none;
}

.ri-grid-loading .ri-loading-image {
  position: relative;
  width: 40px;
  height: 40px;
  left: 50%;
  margin: 50px 0 50px -15px;
  display: block;
}

//
// Menu
// ========================================================================== //

.is-stuck {
  left: 0px;
  width: 100%;
}

.menu {
  margin-top: 0px;
  position: static;
  left: 0px;
  right: 0px;
}

.nav-wrapper .container {
  padding: 0;
  width: auto;

  @include respond-to {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.navbar-header {
  display: none;

  @include respond-to {
    display: block;
  }
}

.nav > li > a {
  display: inline-block;
}

.navbar-nav > li {
  float: none;
  display: inline;
}

.navbar-nav {
  margin: 0 auto;
  text-align: center;
  float: none;
}

.navbar-toggle {
  margin-top: 14px;
}

// Special class on .container surrounding .navbar, used for positioning it into place. //
.navbar-wrapper {
  margin-top: 0px;
  position: relative;
  z-index: 15;
  background: $midnight-express;
}

.navbar-wrapper .container {
  padding: 0px;

  @include respond-to {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.navbar-collapse {
  padding: 0;
}

.navbar-collapse.in {
  max-height: 100%;
}

.navbar.navbar-inverse.navbar-static-top {
  margin: 2px auto;
  background: $midnight-express;
  color: $link-water;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-transform: uppercase;

  a {
    padding: 22px 25px;
    line-height: 18px;
    text-align: center;
    @include transition(all 0.2s ease);

    &:hover {
      color: $white;
    }

    @include respond-to($query: $screen-m1-min) {
      padding-left: 18px;
      padding-right: 18px;
    }

    @include respond-to($query: $screen-m2-min) {
      padding-left: 17px;
    }

    @include respond-to($query: $screen-x2-min) {
      line-height: 17px;
      padding-top: 20px;
      padding-bottom: 11px;
    }
  }
}

.navbar-inverse .navbar-nav > .active > a {
  background: $black-forest;
  color: $link-water;

  &:focus {
    color: $link-water;
  }

  &:hover {
    color: $white;
  }
}

@include respond-to {
  ul.navbar-nav li a {
    display: block;
  }
}

.hide-class {
  display: none;
}

// Since positioning the image, we need to help out the caption //
.carousel-caption {
  z-index: 10;
}

// Declare heights because of positioning of img element //
.carousel .item {
  height: 600px;
  background-color: $cerulean;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}
